@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
@import "https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/SettingsIcons.css";

:root {
    --font-display: "CircularSp", "gg sans", sans-serif;
    --font-primary: "CircularSp", "gg sans", sans-serif;
    --font-code: "DM Mono", 'Consolas', monospace;
}

@font-face {
  font-family: "CircularSp";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://capnkitten.github.io/BetterDiscord/Themes/Spotify-Discord/files/fonts/CircularSp-Book.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "CircularSp";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://capnkitten.github.io/BetterDiscord/Themes/Spotify-Discord/files/fonts/CircularSp-Book.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "CircularSp";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://capnkitten.github.io/BetterDiscord/Themes/Spotify-Discord/files/fonts/CircularSp-Bold.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.hasConnectedBar__277ab /* when you reply to a message and the two bars connect */ {
    border-radius: 0 0 30px 30px !important;
    /* box-shadow: 0 0 5px black; */
}

.interactive__776ee, .clickable_f8437d[aria-disabled=false]>.base__76a71:hover, .selected_d94cf9, .channel_c21703, .container__8759a, .link__95dc0, #autocomplete-0[tabindex=3], .interactiveSelected_ec846b, .panels__58331 {
    border-radius: 30px !important;
}

.interactive__776ee, .clickable_f8437d>.base__76a71, .link__95dc0, .clickable_f8437d[aria-disabled=false]>.itemWrapper__8802c, .tabBar__73938, .lookFilled__19298.colorBrand_b2253e, .side_b4b3f6 .item__48dda, .lookOutlined__46d54.colorRed_d6b062, .lookFilled__19298.colorRed_d6b062, .credentialList_f9417e, .giftButton_bb2551, .lookFilled__19298.colorGreen__5f181, .lookInverted_ee4261.colorBrand_b2253e, .lookOutlined__46d54.colorWhite__43488, .markup_a7e664 code, .contentWrapper__321ed, .navButton__05cc7, .accountProfileCard__22589, .background_b61fcc, .searchBar_ff8800, .container__467eb, .buttonColor__6f6b0, .root_a28985, .optionBox__0338f, .section_efc22d:only-child, .popoutContainer__7b9a3, .badgeLabel__7c5a4, .categorySection_f44c2f, .overlayBackground__86b78, .connectedAccountContainer__23f00, .search_ac353c .DraftEditor-root .searchBar_e0c60b, .input_d266e7, .lookFilled__3dba3.select__0eb48, .messageInputContainer__768e6, .userProfileOuterThemed__6eb84, .layout_bb8e67, .popout__24e32, .row__4daf2, .banner_f13f1e, .wrapper_fbbb73, .prompt__1b100, .profileCard_bd55ee, .search__4a09e, .container__6a848, .lookOutlined__46d54.colorPrimary__6ed40, .root__46d4f, .noiseCancellationPopout__06ec4, .container__7712a, .container_e4c233, .wrapperAudio__555ce.newMosaicStyle_fb18b9, .audioControls__9fbe9, .connectContainer__8050b, .connection_fff5f6, .selectedBackground_d847da, .item_b7fb7e, .channelTextArea__2e60f, .hoverButtonGroup__5b423, .altTag__3fced {
    border-radius: 30px;
}

.channelRow__96673 {
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    background-color: var(--background-secondary);
}

.iconContainer__3af05 {
    scale: 80%;
}

.credentialItem_d7739a {
    border-top: none;
}

.media__059e0, .spoilerContainer_c7b533, .emojiItem_b15dee {
    border-radius: 15px;
}

.interactive__776ee, .clickable_f8437d>.base__76a71, .link__95dc0, .clickable_f8437d[aria-disabled=false]>.itemWrapper__8802c, .tabBar__73938, .lookFilled__19298.colorBrand_b2253e, .side_b4b3f6 .item__48dda, .layout_bb8e67, .row__4daf2 {
    transition-property: background-color;
    transition-duration: 150ms;
}

.username__11d8c {
    transition-property: color;
    transition-duration: 150ms;
}

.heading-deprecated-12-semibold__5ec62, .headerLabel_e9f74f, .header__123bf {
    text-align: center !important;
}

/* top bar height */
[class^='typeWindows'] {
	height: 20px;
}

/* window controls */
[class^='winButton'] > svg {
	display: none;
}
[class^='winButton'] {
	background: none !important;
    padding-right: 2px;
    padding-top: 1px;
}
[class^='winButton']::after {
	content: '';
	height: 12px;
	width: 12px;
	border-radius: 12px;
}
[class^='winButton']:hover::after {
	filter: brightness(0.8);
    transition-property: filter;
    transition-duration: 300ms;
}
[class^='winButton']:active::after {
	scale: 0.9;
    transition-property: scale;
    transition-duration: 150ms;
}
[class^='winButtonClose']::after {
	background-color: var(--status-danger) !important;
}
[class^='winButtonMinMax']:nth-child(3)::after {
	background-color: var(--status-warning) !important;
}
[class^='winButtonMinMax']:nth-child(4)::after {
	background-color: var(--green-360) !important;
}

.clickable_f8437d[aria-disabled=false]>.base__76a71:hover, .clickable_f8437d[aria-disabled=false]>.itemWrapper__8802c {
    margin-left: 10px;
    transition-property: margin-left;
    transition-duration: 150ms;
    font-weight: 800 !important;
}

.codeActions__43b2e {
    padding-right: 10px;
}

.scrollbarGhostHairline_c9a45f {
    padding-left: 10px;
    padding-right: 10px;
}

html, body, .text-md-normal__4afad /* font change */ {
}

code {
    font-family: "DM Mono", Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', 'DejaVu Sans Mono',
    'Bitstream Vera Sans Mono', 'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier, monospace;
}

::selection /* when selecting a text */ {
    color: white;
    background: var(--selection-color);
}

.scroller_e89578 {
    background-color: rgb(36, 39, 58) !important;
}

.badgeList_ef4131, .userPanelOverlayBackground__34fc8 /* user panel */ {
    border-radius: 30px;
    box-shadow: 0 0 15px var(--shadow-color);
}

/* call buttons */

.centerButton__3205b, .colorable_c84c4c.red_a51ba8 {
    --red-500: rgb(236, 74, 98);
    --red-430: rgb(237, 135, 150);
}

.colorable_c84c4c.primaryDark__6b700 {
    --primary-630: var(--the-light-color);
}

.colorable_c84c4c.white__10e89 {
    background: var(--the-light-color);
}

.colorable_c84c4c.white__10e89:hover {
    background: var(--primary-600);
}

.colorable_c84c4c.white__10e89, .colorable_c84c4c.white__10e89 .centerIcon__6075a {
    color: white;
}

.colorDefault__0b482 .checkbox__45366, .colorDefault__0b482 .radioSelection__5ed39 {
    fill: var(--brand-experiment-500);
}

.colorDefault__0b482 .check__8d1bd {
    fill: var(--white-500);
}

.mainCard__8a660, .search__4a09e {
    background-color: var(--background-secondary);
}

.vc-addon-card, .mainCard__8a660, .attachment_f3cf2c.newMosaicStyle__235c9, .attachment_f3cf2c, /*.button_afdfd9, */.contextMenuContainer_fc4df6, .promptOptions__8e373, .channelRow__96673, .vc-notification-root, .searchResult_dcd237 {
    border-radius: 20px;
}

.searchResult_dcd237 {
    background-color: var(--background-tertiary);
}

.embedImage_e638a7 img, .embedImage_e638a7 video, .embedThumbnail__468e1 img, .embedThumbnail__468e1 video, .embedVideo__0c65b img, .embedVideo__0c65b video {
    border-radius: 20px;
}

.embed_d3cbe3, .embedWrapper_c143d9 {
    border-radius: 5px 16px 16px 5px;
    border-color: var(--the-light-color);
    border-width: 2.5px;
}

.embed_d3cbe3:hover .embedSuppressButton_df9a75, .embed_d3cbe3:focus-within .embedSuppressButton_df9a75 {
    opacity: 1;
    transition-property: opacity;
    transition-duration: 150ms;
}

.embedWrapper_c143d9 .embedSuppressButton_df9a75 {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 150ms;
}

.message__80c10.selected_fd9051 .buttonsInner_bca8fa, .mouse-mode .message__80c10:hover .buttonsInner_bca8fa, .hoverButtonGroup__5b423 {
    transition-property: opacity;
    transition-duration: 150ms;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.buttons__3766a {
    margin-right: -10px;
    transition-property: opacity;
    transition-duration: 150ms;
}

.message__80c10.selected_fd9051, .theme-dark.mouse-mode.full-motion .message__80c10 {
    transition-property: background-color;
    transition-duration: 150ms;
}

.nonMediaAttachment__30665 {
    border-radius: 10px;
    background-color: var(--background-tertiary)
}

.container__99b06:hover {
    background-color: var(--background-tertiary);
}

/* general colors */

.theme-dark {
    --background-primary: rgb(24, 25, 38) !important;
    --background-secondary: rgb(36, 39, 58) !important;
    --blue-color: rgb(88, 101, 242) !important;
    --background-secondary-alt: rgb(30, 32, 48) !important;
    --background-tertiary: rgb(30, 32, 48) !important;
    --background-accent: rgb(54, 58, 79) !important;
    --scrollbar-auto-scrollbar-color-thumb: var(--background-primary);
	--scrollbar-auto-scrollbar-color-track: var(--background-secondary);
	--scrollbar-auto-thumb: var(--bg-overlay-selected);
	--scrollbar-auto-track: var(--background-secondary);
	--scrollbar-thin-thumb: var(--background-secondary);
    --darkplus-bg: rgb(67, 70, 87);
    --primary-600: var(--background-accent) !important;
    --primary-700: var(--primary-600) !important;
    --primary-800: rgb(36, 39, 58);
    --the-light-color: rgb(73, 77, 100) !important;
    --background-modifier-hover: var(--primary-700);
    --custom-base-tile-border-radius: 30px !important;
    --bg-overlay-hover: var(--primary-700);
    --bg-overlay-selected: var(--the-light-color);
    --bg-overlay-active: var(--the-light-color);
    --bg-overlay: var(--the-light-color);
    --green-360: rgb(166, 218, 149);
    --background-modifier-selected: var(--the-light-color);
    --search-popout-option-fade: var(--background-secondary);
    --home-background: var(--background-primary);
    --button-color: rgb(91, 96, 120);
    --shadow-color: transparent;
    --user-profile-container-color: var(--the-light-color);
    --selection-color: rgb(138, 173, 244);
    --online-color: rgb(133, 174, 119);
    --white-theme-hover-color: white;
    --status-warning: rgb(238, 212, 159);
    --status-danger: rgb(237, 135, 150);
}

.theme-light {
    --background-primary: rgb(239, 241, 245) !important;
    --background-secondary: rgb(239, 241, 245) !important;
    --blue-color: rgb(88, 101, 242) !important;
    --background-secondary-alt: rgb(202, 211, 245) !important;
    --background-tertiary: rgb(184, 192, 224) !important;
    --background-accent: rgb(128, 135, 162) !important;
    --scrollbar-auto-scrollbar-color-thumb: var(--background-primary);
	--scrollbar-auto-scrollbar-color-track: var(--background-secondary);
	--scrollbar-auto-thumb: rgb(115, 121, 148);
	--scrollbar-auto-track: var(--background-tertiary);
	--scrollbar-thin-thumb: var(--background-secondary);
    --darkplus-bg: rgb(183, 189, 248);
    --primary-600: var(--background-accent) !important;
    --primary-700: var(--primary-600) !important;
    --primary-800: rgb(36, 39, 58);
    --the-light-color: var(--background-tertiary) !important;
    --background-modifier-hover: var(--primary-700);
    --custom-base-tile-border-radius: 30px !important;
    --bg-overlay-hover: var(--primary-700);
    --bg-overlay-selected: var(--the-light-color);
    --bg-overlay-active: var(--the-light-color);
    --bg-overlay: var(--the-light-color);
    --green-360: rgb(64, 160, 43);
    --background-modifier-selected: var(--the-light-color);
    --search-popout-option-fade: var(--background-secondary);
    --home-background: var(--background-primary);
    --button-color: var(--background-primary);
    --text-normal: rgb(24, 25, 38);
    --shadow-color: transparent;
    --user-profile-container-color: var(--background-primary);
    --selection-color: rgb(114, 135, 253);
    --white-theme-hover-color: var(--text-normal);
    --status-warning: rgb(223, 142, 29);
    --status-danger: rgb(230, 69, 83);
}

.theme-dark .container__10dc7, .scroller__81266, .pageBody_db54f5 {
    background-color: var(--background-primary);
}

.profileCard_bd55ee, .prompt__1b100 {
    background-color: var(--background-secondary);
}

.theme-light .darkIcon__1846a {
    --primary-600: rgb(54, 58, 79);
}

rect[fill='#23a55a'] {
	fill: var(--green-360);
}
rect[fill="#f0b232"] {
    fill: var(--status-warning);
}
rect[fill="#f23f43"], svg[fill="#f23f43"] {
    fill: rgb(237, 135, 150);
}

.rtcConnectionStatusConnected__1d5b0 {
    color: Var(--green-360);
}

.upload_c98ecb {
    border-radius: 30px;
}

.filename__7ce23 {
    text-align: center;
    margin: auto;
}

.filenameContainer_c6cd59 /* file name that appears below the file */ {
    margin-top: auto;
    border-radius: 30px;
}

.wrapper_c727b6 {
    border-radius: 30px;
}

.label__73cb9:before, .scroller__750f5, .menu_dc52c6 {
    background-color: var(--background-primary) !important;
    border-radius: 30px !important;
    width: 200px !important;
}

.menu_dc52c6 {
    width: 300px !important;
    margin-left: 4px !important;
}

.group-spacing-16 .groupStart__56db5 {
    /* border-radius: 0 8px 8px 0; */
    /* margin-right: .05em; */
}

.scroller__750f5 {
    top: 3px;
}

.footer__89240 {
    background-color: var(--background-secondary);
    border-radius: 0 0 30px 30px;
}

.label__73cb9 {
    padding-left: 5px !important;
}

.none__51a8f, .flexible__7055b  {
    border-radius: 15px !important;
    margin-bottom: 12px !important;
}

.panel_bd8c76 {
    border-radius: 30px !important;
    margin: 5px !important;
}

.panels__58331 {
    margin-right: 5px !important;
    margin-left: 5px !important;
}

.labelContainer_bc2861 {
    margin-left: -10px !important;
    margin-right: -10px !important;
    margin-bottom: -2px !important;
    padding-bottom: 10px !important;
}

.divider__2bbbc, .separator__3cfd2 {
    display: none !important;
}
.quickSelect_ae48d2 {
    opacity: 0;
}

.item__183e8:hover, .focused__27621 {
    border-radius: 30px !important;
    background-color: var(--background-primary) !important;
    margin-left: 0.5px !important;
    transition-property: margin-left;
    transition-duration: 150ms;
    font-weight: 800;
}

.popout__24e32 {
    box-shadow: 0px 0px 5px var(--shadow-color);
}

.row__4daf2:hover {
    background-color: var(--background-secondary);
    color: var(--text-normal);
    transition-property: color;
    transition-duration: 150ms;
    margin-left: 10px;
    transition-property: margin-left;
    transition-duration: 150ms;
}

.row__4daf2:not(:hover) {
    margin-left: 0;
    transition-property: margin-left;
    transition-duration: 150ms;
}

.tabBar__73938 .addFriend__80542.addFriend__80542.addFriend__80542, .actionButton_dac582  {
    background-color: rgb(133, 174, 119) !important;
    color: rgb(255, 255, 255) !important;
    border-radius: 30px;
}

.colorDefault__0b482.focused__27621 {
    color: var(--text-normal);
}

.colorDefault__0b482.focused__27621 .subtext__8a015 {
    color: var(--text-normal);
}

.colorDanger_eec36d.focused__27621 {
    color: var(--status-danger);
    font-weight: 900;
}

.colorBrand__471df.focused__27621 {
    color: var(--brand-experiment-360);
}

#uid_8234 {
    text-align: center;
}

.callContainer_cbde45 {
    background-color: var(--background-primary) !important;
}

.container_d667ff {
    background-color: var(--the-light-color);
    margin: 2px !important;
}

.container_d667ff:not(:empty, :invalid) {
    border-radius: 30px 30px 30px 30px !important;
    margin-bottom: 10px !important;
}
.container_ca50b9 {
    /* border-radius: 30px 30px 30px 30px !important; */
}

.ping__47992 {
    max-width: 12px !important;
    max-height: 12px !important;
    margin-left: 5px !important;
}

.button_afdfd9:not(.navButton__05cc7, .button__4f306, ) {
    /* font-size: 90%; */
    /* margin-top: 1px; */
    /* color: var(--green-360); */
}

.container__871ba {
    background-color: red;
}

.text-xs-normal__56c35 {
    margin-left: 5px !important;
}

.button__66e8c {
    background-color: var(--button-color) !important;
    border-radius: 30px !important;
    box-shadow: 0px 0px 5px var(--shadow-color);
}

.scroller__83262, .userPopoutOverlayBackground_d8afa4 {
    background-color: var(--background-secondary);
}

.lookFilled__19298.colorPrimary__6ed40 {
    background-color: var(--the-light-color) !important;
    border-radius: 30px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
}

.section__6f61e {
    background-color: var(--background-secondary);
    /* box-shadow: 0px 0px 5px rgb(30, 32, 48); */
}


.sidebar_ded4b5, .root_a48873 {
    /* border-radius: 15px 15px 15px 15px !important; */
    box-shadow: 0px 0px 5px var(--shadow-color);
    background: transparent;
}

.button__4f306:not(.disabledButtonWrapper__69c70, .button_afdfd9:disabled, .button_afdfd9[aria-disabled=true], button.button__4f306.disabled_dc5630, span.button__4f306.disabled_dc5630)  {
    max-width: 20px !important;
    max-height: 20px !important;
    margin-left: 10px !important;
    box-shadow: 0px 0px 5px var(--shadow-color);
    background-color: var(--button-color) !important;
    border-radius: 30px !important;
    /* right: 15px !important; */
}

.disabledButtonWrapper__69c70, .button_afdfd9:disabled, .button_afdfd9[aria-disabled=true], button.button__4f306.disabled_dc5630, span.button__4f306.disabled_dc5630 {
    left: 1px;
}

.layout__59abc {
    border-radius: 0px 0px 15px 15px !important;
}

.titlebar-min, .titlebar-max, .titlebar-restore {
    width: fit-content !important;
    border-radius: 5px !important;
    max-width: 30px !important;
    transition: var(--transition-time) !important;
}

.titlebar-close {
  width: fit-content !important;
  border-radius: 5px 0px 5px 5px !important;
  max-width: 30px !important;
  transition: var(--transition-time) !important;
}

.searchBar_e0c60b {
    background-color: var(--the-light-color);
    border-radius: 30px !important;
    padding-left: 10px;
}

.searchBarComponent__22760 {
    border-radius: 30px !important;
    padding-left: 10px;
}

.children__32014:after, .wrapper__7a35f:after {display: none;}

.themedBackground__6b1b6:not(.scrollableContainer__33e06) {
    border-radius: 30px !important;
    box-shadow: 0px 0px 10px var(--shadow-color);
    background-color: var(--the-light-color);
}

.scrollableContainer__33e06 {
    border-radius: 30px;
    background-color: var(--the-light-color);
}

.container_ca50b9 {
    border-radius: 30px;
    bottom: 2px;
    /* margin-left: 2px !important; */
    /* margin-right: 2px !important; */
    margin-bottom: 5px !important;
    box-shadow: 0px 0px 10px var(--shadow-color);
    z-index: -1;
    background-color: var(--user-profile-container-color) !important;
}

.container_d667ff {
    bottom: 2px;
}

.button__4f306 {
    right: 5px;
}

.title_b7d661, .container__11d72 {
    padding-top: 5px !important;
    margin-top: 10px;
    /* position: absolute; */
    overflow: hidden;
    left: 1px;
    scale: 99%;
    border-radius: 30px !important;
    background: rgba(var(--background-secondary), 1) !important;
    backdrop-filter: blur(12px) !important;
    box-shadow: 0px 0px 5px black;
}

.banner_f13f1e {
    /* position: absolute; */
    /* width: 91%; */
    margin-bottom: 75px;
    /* height: 3%; */
    /* background-color: transparent; */
    background-color: var(--the-light-color);
    /* backdrop-filter: blur(12px) !important; */
    box-shadow: 0px 0px 10px var(--shadow-color);
}

.jumpToPresentBar__0ff7f {
    margin-bottom: 9px;
    border-radius: 30px;
}

.jumpToPresentBar__0ff7f:active {
    margin-bottom: 7px;
}

.container__5c7e7 .container__11d72 {
    position: relative;
}

.container__11d72 {
    position: relative;
}

.auto_a48086 {
    /* margin-right: 4px; */
    top: 5px;
    scrollbar-width: 100px;
}

.auto_a48086[data-list-id="people"] {
	--scrollbar-auto-thumb: transparent;
	--scrollbar-auto-track: transparent;
	--scrollbar-thin-thumb: transparent;
}

.peopleListItem_d14722:hover, .peopleListItem_d14722.active__6b8ff {
    border-radius: 30px;
    transition-property: background;
    transition-duration: 300ms;
}

.peopleListItem_d14722:not(:hover) {
    border-radius: 30px;
    margin: 0 10px 0 20px;
    padding: 16px 10px;
    transition-property: background;
    transition-duration: 300ms;
}

.discriminator_aef524 {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 300ms;
}

.hovered_f2a1ac .discriminator_aef524 {
    opacity: 1;
    transition-property: opacity;
    transition-duration: 300ms;
}

.chat__52833:not(.transparent__7f3e0), .container__5c7e7 {
    border-radius: 30px;
    margin-right: 5px !important;
    filter: blur(90%);
    margin-bottom: 10px !important;
}

.container__5c7e7:not([aria-label="Friends"]) .container__11d72 {
    background-color: red;
    position: absolute;
}

.shop_b31ed2 {
    background: var(--background-primary);
    border-radius: 30px;
    display: inline;
    position: relative;
    margin-right: 5px;
}

.shop_b31ed2 .container__11d72 {
    position: relative;
}

.headerWrapper__94dd8 .container__11d72 {
    box-shadow: none;
    position: relative;
}

.container__11d72 {
    position: absolute;
}

.content__1a4fe {
    margin-top: 45px;
}

.chatContent__5dca8, .topPill__0cdf1 .item__48dda, .itemCard__1f162 {
    border-radius: 30px !important;
}

.itemCard__1f162 {
    /* box-shadow: 0 0 5px black; */
}

.content__1a4fe:before, .tabBody_b3d268:before {
    z-index: -1;
    display: none;
}

.open_d3ab4c:active {
    background-color: red !important;
}

.popoutList-T9CKZQ {
    background-color: red !important;
}

.searchBar-6Kv8R2 .searchBarComponent-32dTOx, .bd-select, .bd-select:hover, .bd-select.menu-open {
    background-color: red !important;
}

.listItems__699d1, .autocompleteInner_a0e6a1 {
    background-color: var(--background-secondary);
}

.wrapper__7a35f, .categoryHeader_f97a5f {
    border-radius: 30px;
    background-color: var(--the-light-color);
    margin-bottom: 5px;
}

.autocompleteInner__8785c, .autocomplete_df266d {
    border-radius: 30px !important;
}

.contentTitle_b7c496 {
    /* margin-left: 40%;     */
}

.newMessagesBar__8b6d7, .newTopicsBarContainer__59609, .topicsPillContainer__5c589  {
    border-radius: 0 0 10px 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 3px;
    opacity: 1;
    top: 10px;
}

.clipContainer__99c30 {
    background-color: var(--primary-600);
    box-shadow: none;
}

.replyBar_b64d74, .attachedBars_da3c74 {
    background-color: transparent;
    box-shadow: none;
}

.header__104ca {
    border-radius: 30px 30px 0 0;
}

.theme-light .attachedBars_da3c74, .clipContainer__99c30, .replyBar_b64d74 {
    border-radius: 30px 30px 0 0;
    background-color: var(--the-light-color);
    box-shadow: none;
}

.panels__58331, .channelTextArea__2e60f, .children__32014, .wrapper__0ed4a {
    background-color: none !important;
    background: none !important;
}

.panels__58331 {
    margin-top: 8px;
}

.tutorialContainer__890ea {
    border-radius: 30px !important;
}

.scroller__3d071 {
    background-color: var(--background-primary);
    margin-left: 5px !important;
    border-radius: 30px !important;
}

.rail_ad1aea .wrapper__4e8f1 {
    border-radius: 0 !important;
}

.scroller__3d071, .none__51a8f, .scrolling__06987, .container__7c79d .sidebar_ded4b5, .chat__52833, .privateChannels__93473 {
    /* margin-top: 10px !important; */
}

.container__590e2, .privateChannels__93473 {
    /* top: 10px; */
}

.searchBar_e4ea2a {
    top: 5px;
    box-shadow: 0px 0px 20px var(--shadow-color);
}

.theme-light .searchBar_e4ea2a {
    background-color: var(--background-tertiary);
    margin-top: 5px;
    margin-bottom: 5px;
}

.floating_f021e2, .container_def45c {
    border-radius: 30px;
}

.container_def45c {
    margin-bottom: 10px;
    margin-right: 5px;
}

.theme-light .searchBar_e4ea2a .searchBarComponent__22760 {
    background-color: var(--background-secondary);
}

.listItem_fa7b36 {
    right: 5px !important;
}

.expandedFolderBackground__1bec6 {
    left: 0.1px;
    margin-left: 5px;
    width: calc(var(--custom-folder-item-guild-icon-size) + 5px);
}

.tutorialContainer__890ea {
    padding-top: 5px;
    padding-left: 2px;
}

.pill__6b31b, .pill__6b31b, .wrapper__3670f {
    left: 5px;
    border-radius: 30px !important;
    width: 2px;
    z-index: 100;
}

.layerContainer_d5a653 {
    border-radius: 30px 0 0 30px !important;
}

.privateChannels__93473, .sidebar_ded4b5, .container__590e2 {
    border-radius: 30px !important;
    margin: 0 5px 5px 5px !important;
}

.animatedContainer__341f6  {
    border-radius: 30px 30px 0 0 !important;
}

.members__9f47b, .membersWrap__90226, .badgelistGroup__53eaa, .userPanelOuter__880e5, .userProfileOuterUnthemed__48723, .profileColors__2e2f0, .profilePanel__12596, .container_b2ce9c, .userPanelInnerThemed__1804b, .root_ba16f0  {
    border-radius: 30px !important;
}

.container_b2ce9c, .profilePanel__12596 {
    margin-top: 3px;
    margin-right: 5px;
}

.icons__374b3 {
    margin-right: 5px;
}

.card__4dc22:not(.outline_cb0aed) {
    background-color: var(--info-warning-background);
}

.card__4dc22 {
    border-radius: 30px;
}

.text-sm-normal_e612c7, .contents_fb6220, .text-xs-normal__56c35, .defaultColor__87d87 {font-weight: 800;}
.nicknames__7447d {font-style: italic;}
.text-sm-normal_e612c7:first-letter {text-transform: uppercase;}

.defaultValue__4f02f .markValue_e7a6e4 {
    color: var(--white-500);
    font-weight: bold;
}

.bg__7adbf,
.container__4bde3 {
  background-color: var(--darkplus-bg);
}
.bg__7adbf {
  background-color: var(--darkplus-bg);
}

.container__11d72.themed_b152d4 {
    background: rgb(36, 39, 58);
}
.content-2a4AW9 {
    background-color: var(--darkplus-bg);
}

.searchBar_e4ea2a {
    background-color: var(--darkplus-bg);
    border-radius: 30px;
    margin-left: 5px;
    margin-right: 5px;
    /* scale: 98%; */
    /* margin-top: 2px; */
}

.panel_bd8c76.activityPanel__22355 {
    background-color: var(--the-light-color);
    margin-bottom: 7.5px !important;
}

.body__709f6 {
    padding-left: 2px !important;
}

.gameIcon__90c32 {
    /* border-radius: 15px !important; */
    scale: 90%;
}

.container_ca50b9, .wrapper__0ed4a, .container_d667ff {
    background-color: var(--user-profile-container-color);
    box-shadow: 0px 0px 10px var(--shadow-color);
    border-radius: 30px;
}

.theme-dark .form__13a2c:before {
    display: none;
}

.form__13a2c {
}

.root__3eef0 {
    background: var(--background-secondary);
    border-radius: 20px;
}

.wrapper_bd2abe.minimum_ebf000 ~ .content__1a4fe {
    margin-top: -7px;
}

.searchResultsWrap__9f374 {
    margin-top: 15px;
    border-radius: 30px 8px 30px 30px;
}

.channelNameContainer_e0c26c {
    background-color: var(--background-primary);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    border-radius: 30px;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
}

.hoverButtonGroup__5b423 {
    padding: .5px;
    box-shadow: 0px 0px 10px rgba(var(--shadow-color), 1);
}

.spoilerContainer_b653f1 {
    background-color: var(--background-secondary);
}

.spoilerContainer_b653f1.hidden_f44e41:not(:focus) {
    box-shadow: none;
}

.spoilerWarning_d02e2d {
    transition-property: background-color;
    transition-duration: 300ms;
}